image: registry.gitlab.com/canfd/server-tools/ghdl:latest

variables:
    GIT_SUBMODULE_STRATEGY: recursive

before_script:
    - "export PATH=/opt/ghdl/bin:/opt/nvc/bin:$PATH"
    - export LC_ALL=C.UTF-8
    - export LANG=C.UTF-8
    - export PYTHONUNBUFFERED=1
    - export CTU_TB_TOP_TARGET="tb_ctu_can_fd_rtl_vunit"

stages:
    - precheck
    - build
    - test_unit
    - test_rtl_feature
    - test_rtl_compliance
    - test_gates
    - coverage
    - deploy

check_component:
    stage: precheck
    script:
        - scripts/gen_vivado_component.py
        - cd scripts && ./update_reg_map
        - git diff --exit-code || (echo "Vivado component file or register map products are not up-to-date. Either run scripts/gen_vivado_component.py and scripts/update_reg_map or download the files from this job's artifacts."; exit 1)
    artifacts:
        expire_in: 1 week
        paths:
            - src/component.xml
            - doc/core/registerMap.lyx
            - driver/ctucanfd_regs.h
            - driver/ctucanfd_frame.h
            - src/lib/can_fd_register_map.vhd

###############################################################################
# Build stage
###############################################################################

build_compliance_lib:
    stage: build
    tags:
        - simulation
    script:
        - cd test/main_tb/iso-16845-compliance-tests/
        - source ./build.sh
    artifacts:
        paths:
            - test/main_tb/iso-16845-compliance-tests/build/Debug/src/cosimulation/libGHDL_VPI_COSIM_LIB.so
            - test/main_tb/iso-16845-compliance-tests/build/Debug/src/cosimulation/libNVC_VHPI_COSIM_LIB.so
            - test/main_tb/iso-16845-compliance-tests/build/Release/src/cosimulation/libGHDL_VPI_COSIM_LIB.so
            - test/main_tb/iso-16845-compliance-tests/build/Release/src/cosimulation/libNVC_VHPI_COSIM_LIB.so
    only: &only
        - master     # Run on all changes to master branch
        - tags       # Run on all tags
        - triggers   # Run by trigger (on merge request)
        - web        # Run by manual request from web UI

build_driver:
    stage: build
    tags:
        - simulation
    only: *only
    script:
        - cd driver
        - "make -j`nproc`"

build_doc:
    stage: build
    tags:
        - simulation
    only: *only
    image: registry.gitlab.com/canfd/server-tools/lyx
    script:
        - export LC_ALL=en_US.UTF-8
        - export LANG=en_US.UTF-8
        - make -C doc/core
        - make -C doc/driver
    artifacts:
        paths:
            - doc/core/Progdokum.pdf
            - doc/core/ctu_can_fd_architecture.pdf
            - doc/core/tb_architecture.pdf
            - doc/driver/build

build_linux_driver:
    stage: build
    tags:
        - simulation
    only: *only
    image: registry.gitlab.com/canfd/server-tools/ctucanfd_drvtest
    script:
        - cd driver/linux
        - "make -j`nproc` KDIR=/linux/build CROSS_COMPILE=arm-linux-gnueabihf- ARCH=arm"
        - "make checkpatch KDIR=/linux/build CROSS_COMPILE=arm-linux-gnueabihf- ARCH=arm"
    artifacts:
        paths:
            - driver/linux/ctucanfd.ko

run_synthesis:
    stage: build
    tags:
        - synthesis
    only: *only
    script:
        - ls
        - source /opt/xilinx/vivado-2018.2/settings.sh
        - cd synthesis/Vivado/ci_benchmark
        - echo "Running minimal configuration..."
        - vivado -mode tcl -source vivado_benchmark_minimal.tcl
        - echo "Running typical configuration..."
        - vivado -mode tcl -source vivado_benchmark_typical.tcl
        - echo "Running maximal configuration..."
        - vivado -mode tcl -source vivado_benchmark_maximal.tcl

        # Remove reference to UNISIM library, all cell models are included in netlist!
        - sed -i 's\library UNISIM;\\g' maximal_design_config/can_top_level.vhd
        - sed -i 's\library UNISIM;\\g' typical_design_config/can_top_level.vhd
        - sed -i 's\library UNISIM;\\g' minimal_design_config/can_top_level.vhd
    artifacts:
        paths:
            - synthesis/Vivado/ci_benchmark/*_design_config
        expire_in: 12 hrs

###############################################################################
# Unit test stage
###############################################################################
test_unit_rx_buffer:
    stage: test_unit
    tags:
        - simulation
    only: *only
    script:
        - cd test
        - make tb_rtl_rx_buffer_unit
        - make tb_rtl_rx_buffer_unit_logs
    artifacts:
        when: always
        paths:
            - test/tb_rtl_rx_buffer_unit.xml
            - test/tb_rtl_rx_buffer_unit_summary
        reports:
            junit: test/tb_rtl_rx_buffer_unit.xml


###############################################################################
# Test RTL feature stage
###############################################################################
test_rtl_small_asic_max_feature:
    stage: test_rtl_feature
    tags:
        - simulation
    only: *only
    script:
        - cd test
        - make tb_rtl_small_asic_max_feature
        - make tb_rtl_small_asic_max_feature_logs
    artifacts:
        when: always
        paths:
            - test/tb_rtl_small_asic_max_feature.xml
            - test/tb_rtl_small_asic_max_feature_summary
            - test/tb_rtl_small_asic_max_feature.sim_time
            - test/vunit_out/code_coverage
        reports:
            junit: test/tb_rtl_small_asic_max_feature.xml
    allow_failure: true

test_rtl_medium_asic_max_feature:
    stage: test_rtl_feature
    tags:
        - simulation
    only: *only
    script:
        - cd test
        - make tb_rtl_medium_asic_max_feature
        - make tb_rtl_medium_asic_max_feature_logs
    artifacts:
        when: always
        paths:
            - test/tb_rtl_medium_asic_max_feature.xml
            - test/tb_rtl_medium_asic_max_feature_summary
            - test/tb_rtl_medium_asic_max_feature.sim_time
            - test/vunit_out/code_coverage
        reports:
            junit: test/tb_rtl_medium_asic_max_feature.xml
    allow_failure: true

test_rtl_big_asic_max_feature:
    stage: test_rtl_feature
    tags:
        - simulation
    only: *only
    script:
        - cd test
        - make tb_rtl_big_asic_max_feature
        - make tb_rtl_big_asic_max_feature_logs
    artifacts:
        when: always
        paths:
            - test/tb_rtl_big_asic_max_feature.xml
            - test/tb_rtl_big_asic_max_feature_summary
            - test/tb_rtl_big_asic_max_feature.sim_time
            - test/vunit_out/code_coverage
        reports:
            junit: test/tb_rtl_big_asic_max_feature.xml
    allow_failure: true

test_rtl_medium_fpga_max_feature:
    stage: test_rtl_feature
    tags:
        - simulation
    only: *only
    script:
        - cd test
        - make tb_rtl_medium_fpga_max_feature
        - make tb_rtl_medium_fpga_max_feature_logs
    artifacts:
        when: always
        paths:
            - test/tb_rtl_medium_fpga_max_feature.xml
            - test/tb_rtl_medium_fpga_max_feature_summary
            - test/tb_rtl_medium_fpga_max_feature.sim_time
            - test/vunit_out/code_coverage
        reports:
            junit: test/tb_rtl_medium_fpga_max_feature.xml
    allow_failure: true


###############################################################################
# Test RTL compliance stage
###############################################################################
test_rtl_small_asic_max_compliance:
    stage: test_rtl_compliance
    tags:
        - simulation
    only: *only
    script:
        - cd test
        - make tb_rtl_small_asic_max_compliance
        - make tb_rtl_small_asic_max_compliance_logs
    artifacts:
        when: always
        paths:
            - test/tb_rtl_small_asic_max_compliance.xml
            - test/tb_rtl_small_asic_max_compliance_summary
            - test/tb_rtl_small_asic_max_compliance.sim_time
            - test/vunit_out/code_coverage
        reports:
            junit: test/tb_rtl_small_asic_max_compliance.xml
    allow_failure: true

test_rtl_small_asic_typ_compliance:
    stage: test_rtl_compliance
    tags:
        - simulation
    only: *only
    script:
        - cd test
        - make tb_rtl_small_asic_typ_compliance
        - make tb_rtl_small_asic_typ_compliance_logs
    artifacts:
        when: always
        paths:
            - test/tb_rtl_small_asic_typ_compliance.xml
            - test/tb_rtl_small_asic_typ_compliance_summary
            - test/tb_rtl_small_asic_typ_compliance.sim_time
            - test/vunit_out/code_coverage
        reports:
            junit: test/tb_rtl_small_asic_typ_compliance.xml
    allow_failure: true

# TODO: Uncomment once we know how long does this take in NVC!
#test_rtl_small_asic_min_compliance:
#    stage: test_rtl_compliance
#    tags:
#        - simulation
#    only: *only
#    script:
#        - cd test
#        - make tb_rtl_small_asic_min_compliance
#        - make tb_rtl_small_asic_min_compliance_logs
#    artifacts:
#        when: always
#        paths:
#            - test/tb_rtl_small_asic_min_compliance.xml
#            - test/tb_rtl_small_asic_min_compliance_summary
#            - test/tb_rtl_small_asic_min_compliance.sim_time
#            - test/vunit_out/code_coverage
#        reports:
#            junit: test/tb_rtl_small_asic_min_compliance.xml
#    allow_failure: true


###############################################################################
# Test gates stage
###############################################################################
test_gate_xilinx_medium_fpga_max_feature:
    stage: test_rtl_compliance
    tags:
        - simulation
    dependencies: [run_synthesis, build_compliance_lib]
    timeout: 3h
    only: *only
    script:
        - cd test
        - make tb_gate_xilinx_medium_fpga_max_feature
        - make tb_gate_xilinx_medium_fpga_max_feature_logs
    artifacts:
        when: always
        paths:
            - test/tb_gate_xilinx_medium_fpga_max_feature.xml
            - test/tb_gate_xilinx_medium_fpga_max_feature_summary
            - test/tb_gate_xilinx_medium_fpga_max_feature.sim_time
        reports:
            junit: test/tb_gate_xilinx_medium_fpga_max_feature.xml
    allow_failure: true

test_gate_xilinx_small_fpga_max_compliance:
    stage: test_rtl_compliance
    tags:
        - simulation
    dependencies: [run_synthesis, build_compliance_lib]
    timeout: 3h
    only: *only
    script:
        - cd test
        - make tb_gate_xilinx_small_fpga_max_compliance
        - make tb_gate_xilinx_small_fpga_max_compliance_logs
    artifacts:
        when: always
        paths:
            - test/tb_gate_xilinx_small_fpga_max_compliance.xml
            - test/tb_gate_xilinx_small_fpga_max_compliance_summary
            - test/tb_gate_xilinx_small_fpga_max_compliance.sim_time
        reports:
            junit: test/tb_gate_xilinx_small_fpga_max_compliance.xml
    allow_failure: true



###############################################################################
# Results processing
###############################################################################

process_coverage:
    stage: coverage
    tags:
        - simulation
    dependencies:
        - test_rtl_small_asic_max_feature
        - test_rtl_medium_asic_max_feature
        - test_rtl_big_asic_max_feature
        - test_rtl_medium_fpga_max_feature
        - test_rtl_small_asic_max_compliance
        - test_rtl_small_asic_typ_compliance
    only: *only
    script:
        # Merge code coverage and generate report
        - cd test
        - echo "Merging code coverage results from:"
        - ls vunit_out/code_coverage/tb_rtl_*.ncdb

        - nvc --cover-merge -V --output=merged.covdb vunit_out/code_coverage/tb_rtl_*.ncdb
        - nvc --cover-report --output=code_coverage_report merged.covdb

        # Generate VRM
        - cd ../scripts
        - chmod +x gen_vrm
        - ./gen_vrm

    coverage: "/lines......: ([^%]+%)/"
    artifacts:
        when: always
        paths:
            - scripts/VRM.html
            - test/merged.covdb
            - test/code_coverage_report

pages:
    stage: deploy
    when: always
    script:
        - echo "Creating delivery package..."

        # Create directory structure for release
        - mkdir -p public
        - mkdir -p public/rtl
        - mkdir -p public/tb
        - mkdir -p public/doc
        - mkdir -p public/doc/linux_driver
        - mkdir -p public/regression_results
        - mkdir -p public/synthesis
        - mkdir -p public/vivado_component
        - mkdir -p public/code_coverage_report

        # Copy RTL
        - cp src/*.vhd public/rtl/
        - cp src/**/*.vhd public/rtl/
        - cp src/**/**/*.vhd public/rtl/
        - cp src/slf_*.yml public/

        # Copy TB
        - cp test/main_tb/*.vhd public/tb/
        - cp test/main_tb/**/*.vhd public/tb/
        - cp test/main_tb/**/**/*.vhd public/tb/
        - cp test/slf_*.yml public/

        # Copy test list files
        - cp test/tlf_* public/

        # Compliance test library
        - cp test/main_tb/iso-16845-compliance-tests/build/Release/src/cosimulation/libGHDL_VPI_COSIM_LIB.so public/
        - cp test/main_tb/iso-16845-compliance-tests/build/Release/src/cosimulation/libNVC_VHPI_COSIM_LIB.so public/

        # Copy regression results and code coverage

        # DO NOT pack the complete regression results they include all log files and that overflows pages artifacts!
        #- cp test/*.xml public/regression_results/ || true
        - cp test/*_summary public/regression_results/ || true
        - cp -r test/code_coverage_report/* public/code_coverage_report || true

        # Measure total simulation time
        - cat test/*.sim_time | paste -sd+ | bc > total.sim_time
        - echo "Total simulation time is `cat total.sim_time` fs."

        # Copy documentation
        - mv doc/core/Progdokum.pdf public/doc/Datasheet.pdf || true
        - cp doc/core/ctu_can_fd_architecture.pdf public/doc/System_Architecture.pdf || true
        - cp doc/core/tb_architecture.pdf public/doc/Testbench.pdf || true
        - cp -R doc/driver/build public/doc/linux_driver || true

        # Copy synthesis results + constraints
        - cp -R synthesis/Vivado/ci_benchmark/*_design_config public/synthesis
        - cp synthesis/Constraints/ctu_can_fd.sdc public/synthesis

        # Copy Vivado component
        - cp src/component.xml public/vivado_component

        # VRM result
        - cp scripts/VRM.html public/regression_results/ || true

        # Check size, compress, check again
        - echo "Size of artifacts:"
        - du -skh public/*

    only:
        - master
    artifacts:
        paths:
            - public
